/*

->  object-fit: cover; demek resimin en ve boyunda değişiklik yaptıktan sonra orjinalliği bozulmasın diye yazdığımız css kodudur.Resimin container kısmına sığmayan tarafı almaz .<br>
   ->  object-fit: contain; demek resimin en ve boyunda değişiklik yaptıktan sonra orjinalliği bozulmasın diye yazdığımız css kodudur,resimin hepsini alır fakat containere sığdırmaya çalışır çerçeve içine alır.<br>
   ->  object-fit: fill; demek resimin en ve boyunda değişiklik yaptıktan sonra orjinalliği bozulmasın diye yazdığımız css kodudur,varsayılandır resimin hepsini containere sığdırır,çerçevesiz.<br>
   ->  object-fit: none;  demek resimi containera sığdırma çabası yoktur ,resimin containere sığan kısmını alır sadece bu yüzden bu none de resimin istediğimiz yerini seçebiliyoruz containera sığması şartında,pozisyonunda oynama yapabiliriz yani<br>


*/


*{
    box-sizing: border-box;
}


#gallery{
    width: 1000px;
    margin: 20px auto;
}
.item-container{
    width: 25%;
    float: left;
    padding: 10px;
}
.gallery-item{
   
    border: 1px solid #ccc;
}
.gallery-item:hover{
    cursor: pointer;
    border: 1px solid black;
}
.gallery-item img{
    width: 100%;
    height: 200px;
    /*object-fit: cover;
    object-fit: fill;
    object-fit: contain;*/
    object-fit: cover;
    /*object-position: 100% 100%;
    object-position: bottom;*/
    object-position: 50% 50%;
    
}
.description{
    text-align: center;
    padding: 15px;
}
@media screen and (max-width:700px){
    item-container{
        width: 33.3333%;
    }
}
@media screen and (max-width:600px){
    .item-container{
        width: 50%;
    }
}
@media screen and (max-width:460px){
    .item-container{
        width: 100%;
    }
}