*{
    margin: 0;
    padding: 0;
}
#leftSidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #e74c3c;
    left: -200px;
    transition: all 0.5s linear;
    
}
#leftSidebar.active{
    left: 0;
}
#leftSidebar ul li{
    list-style-type: none;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    cursor: pointer;
    transition: all 0.5s linear;
}
#leftSidebar ul li:hover{
    background-color: #c03926;
}
#leftSidebar ul li a {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}
.leftSidebarButton {
    position: absolute;
    left: 200px;
    top: 0;
    cursor: pointer;
}
.leftSidebarButton i{
    color: white;
    position: absolute;
    font-size: 28px;
    background-color: #e74c3c;
    padding: 5px 10px;
    transition: all 0.5s linear;
    
}
.leftSidebarButton i:hover{
    background-color: #c03926;
}
